FORMAT: 1A
HOST: https://v1.eprovendor.dudesolutions.io

USECOMMONSDKLIBRARY: TRUE
GENERATEASYNCCODE: TRUE
GENERATEINTERFACES: TRUE
USEMETHODPREFIX: TRUE
USEMODELPOSTFIX: FALSE
USECONTROLLERPOSTFIX: FALSE
USEENUMPOSTFIX: FALSE
USECONSTRUCTORSFORCONFIG: TRUE
CSHARPDEFAULTNAMESPACE: DSI.SDK.ProcurementVendor
JAVADEFAULTNAMESPACE: io.dudesolutions.ProcurementVendor
BRANDLABEL: Dude Solutions, Inc.
USERAGENT: Dude SDK

# Dude Procurement Vendor Api

## Reference
Good reference document: https://raw.githubusercontent.com/apiaryio/api-blueprint/master/examples/Polls%20API.md

## Authentication
*Procurement Vendor Api* uses OAuth v2 Authentication. First you create a new (or acquire existing) OAuth v2 token using [DudeAuth](https://www.dudeauth.com/).

New to *OAuth*?  Check out the [OAuth Bible](http://oauthbible.com/) for good reference material.

## Media Types
Where applicable this API uses the *JSON* media-type to represent resources.

Requests and responses with a message-body use plain JSON to set or update resources.

## Error States
Common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used throughout this API.

In addition to standard response codes the response object returned from the server during an exception event may contain additional information in the following JSON format:

        {
            "message": "SOME MESSAGE",
            "dudeReferenceId": "3523845A-4729-4CCB-9E16-01DEADF6C2DF",
            "stackTrace": "Null, Typically"
        }

## Data Restriction
Depending on the access level granted to the calling client certain data elements throughout this API will be removed and not returned.

## Dates & Times
All dates and times are represented in [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601) format.  In addition, *Procurement Vendor Api* will always provide [Coordinated Universal Time](https://en.wikipedia.org/wiki/Coordinated_Universal_Time).

The API is capable of parsing most date and time formats, however we do require UTC dates and times be provided from all calling systems.  We highly recommend you utilize the ISO-8601 standard when communicating dates and time to the API as well.

## Known Issues
None at this time

## Documentation Notes
In Progress

# Group System Information
Check API System Information.

## S.I. Check [/]
Retrieve api version, vitals, links, etc.

### GET

+ Response 200 (application/json)
    + Attributes (System Information)

# Group Heartbeat
Check health of dependent services.

## Heartbeat Check [/heartbeat]
The heartbeat is exposed and provided to check for availability of the service.
Any response that does not provide a ```200 OK``` response code should be treated as an error.

### GET

+ Response 200 (application/json)
    + Headers

            X-Dude-Api-Limit: Unlimited or Number
            X-Dude-Api-Remaining: Unlimited or Number
            X-Dude-Api-Server: Api Server ID

    + Attributes (Heartbeat)

# Group Grainger

## Post Order Events [accounts/{accountId}/grainger]
This endpoint provides a way for Grainger to publish Order events.

+ Parameters
    + accountId: 1 (required, number) - {INT} ID of the account in the form of an integer

### POST

+ Request
  + Attributes (Grainger Order)
+ Response 201 (application/json)
    + Attributes (Grainger Order)

# Data Structures

## System Information (object)
Represents the System Information response.

### Properties
+ `application`: `Dude Epro Vendor Api` (string, required) - The name of the application.
+ `version` : `1.0.0.0` (string, required) - The assembly version.
+ `apiVersion` : `1.0.0.0` (string, required) - The API version.
+ `vitals` (Heartbeat, required) - The state of the system dependencies.
+ `links` (array[System Links], required) - The API routes.

## System Links (object)
Represents the API routes.

### Properties
+ `endpoint` : `Vendor` (string, required) - The name of the endpoint.
+ `action` : `Get` (string, required) - The REST action.
+ `route` : `/vendors` (string, required) - The route to the endpoint.

## Heartbeat (object)
Represents a heartbeat response.

### Properties
+ `cachevitalcheck`: true (boolean, required) - true is cache is online.

## Base Collection Response (object)
Represents a paged object.

### Properties
+ `page`: 1 (number, required) - {INT} The current page provided in the response data.
+ `pageSize`: 1000 (number, required) - {INT} The page size returned in the response data.
+ `dataSize`: 1000 (number, required) - {INT} The total records returned in the response.
+ `total`: 2000 (number, required) - {INT} The total number of records available in the collection.

## Grainger Order Status (enum)
+ Approved (string)
+ Canceled (string)
+ Closed (string)
+ Denied (string)
+ Fulfillment (string)
+ New (string)
+ PendingAproval (string)
+ Received (string)
+ ReturnedToSubmitter (string)
+ Shipped (string)

## Grainger Order Line Item Detail (object)
+ `title`: `ABCVendorInc Item #3EB46` (string, required) - The title of the order line item.
+ `description`: `Paper Towel Roll, enMotion, 800 ft., PK6` (string, required) - The description of the order line item.
+ `brandName`: `enMotion` (string, optional) - The brand name of the order line item.
+ `manufacturer`: `Georgia-Pacific` (string, optional) - The manufacturer of the order line item.
+ `universalProductCode`: `123456789012` (string, optional) - The universal product code of the order line item.
+ `stockKeepingUnit`: `123456` (string, optional) - The stock keeping code of the order line item.
+ `itemLink`: `http://www.abcvendorinc.com/product/GEORGIA-PACIFIC-Paper-Towel-Roll-3EB46` (string, optional) - The link to the order line item.

## Grainger Order Line (object)
+ `id`: 1 (number, required) - {INT} The ID for the object
+ `orderLineNumber`: 1 (number, optional) - {INT} The line number for the order line item
+ `workOrderId`: 1 (number, optional) - {INT} The ID for the work order.
+ `quantity`: 1 (number, required) - {INT} The quantity of the object.
+ `purchaseOrderNumber`: `12345ABCD` (string, optional) - The purchase order number assigned to the order line item.
+ `quantityUnit`: `EA` (string, optional) - The quantity unit of the order line item.
+ `unitPrice` (Currency, optional) - The unit price of the order line item.
+ `taxCost` (Currency, optional) - The tax cost of the order line item.
+ `shippingCost` (Currency, optional) - The shipping cost of the order line item.
+ `itemDetail` (Grainger Order Line Item Detail, required) - The item details of the order line item.

## Grainger Order (Base Audit Object)
+ `id`: 1 (number, required) - {INT} The ID for the schedule object.
+ `orderStatus`: `Approved` (Grainger Order Status, required) - The order status assigned to the order (Approved | Canceled | Closed | Denied | Fulfillment | New | PendingAproval | Received | ReturnedToSubmitter | Shipped).
+ `supplierName`: `ABCVendorInc.` (string,required) - The supplier name assigned to the order.
+ `supplierOrderNumber`: `12345ABCD` (string, required) - The supplier order number assigned to the order.
+ `supplierOrderLink`: `https://abcvendorinc.com/orders/12345ABCD` (string, optional) - The supplier order link assigned to the order.
+ `supplierInvoiceNumber`: `12345ABCD` (string, optional) - The supplier invoice number to the order.
+ `supplierOrderLastUpdatedDateTime`: `2015-01-01T00:00:00.123Z` (string, optional) - The last date and time the supplier order was last updated.
+ `supplierOrderCreatedDateTime`: `2015-01-01T00:00:00.123Z` (string, optional) - The date and time the supplier order was created.
+ `purchaseOrderNumber` : `12345ABCD` (string, optional) - The purchase order number assigned to the order.
+ `orderCreatedByUserId` : 12345 (number, optional) - {INT} The ID for the user that created the order.
+ `orderSubTotal` (Currency, optional) - The sub total of the order.
+ `orderTaxTotal` (Currency, optional) - The tax total of the order.
+ `orderShippingTotal` (Currency, optional) - The shipping total of the order.
+ `orderGrandTotal` (Currency, optional) - The grand total of the order.
+ `orderLines` (array[Grainger Order Line], required) - The line items on the order.

## Currency (object)
+ `value` : 22.10 (number, required) - The currency value.
+ `unit` : `USD` (string, required) - The ISO 4217 currency code.

## Base Audit Object (object)
+ `createdDateTime`: `2015-01-01T00:00:00.123Z` (string, optional) - The date and time in ISO-8601 format the record was created.
+ `createdByUser` (Base User Object, optional) - Information about the user who created the record.
+ `createdByApiClient` (Base Client Object, optional) - Information about the client who created the record.
+ `updatedDateTime`: `2015-01-01T00:00:00.123Z` (string, optional) - The date and time in ISO-8601 format the record was last updated.
+ `updatedByUser` (Base User Object, optional) - Information about the user who last modified the record.
+ `updatedByApiClient` (Base Client Object, optional) - Information about the client who last modified the record.

## Base User Object (object)
+ `id`: 1 (number, required) - {INT} The ID of the user.
+ `firstName`: John (string, required) - The first name of the user.
+ `lastName`: Smith (string, required) - The last name of the user.
+ `email`: john.smith@dudesolutions.io (string, required) - The email address of the user.

## Base Client Object (object)
+ `id`: 1 (number, required) - {INT} The ID of the API client.
